@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 20px;
  background-color: #0d1b2a;
  color: #e0e1dd;
  font-family: 'Nunito', sans-serif;
}

.sentence div {
  /* opacity: 0; */
  color: #2d445a;
}
